<div class="contenedor">
    <div id="Imagenes">
        <img src="assets/login-img/naruto-header.png" alt="NarutoHeather" class="img-decoracion-1" style="float:left; width:450px; height:550px;">
    </div>
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
            <div id="registro">
                <table>

                    <tbody>

                    <tr>
                        <td></td>
                    </tr>

                    <tr>
                        <td> <h2 style="font-weight: 600;">Regístrate</h2> </td>

                    </tr>

                    <span *ngIf="dataIncorrecta">Ingrese bien los datos por favor</span>


                    <tr>
                        <td> <input
                                    type="usuario"
                                    id="usuario"
                                    class="usuario"
                                    placeholder="Usuario"
                                    formControlName="user">
                        </td>
                    </tr>


                    <tr>
                        <td> <input
                                    type="email"
                                    id="mail"
                                    class="Email"
                                    placeholder="Email"
                                    formControlName="mail">
                        </td>
                    </tr>

                    <tr>
                        <td> <input type="password"
                                    id="contra"
                                    class="contraseña"
                                    placeholder="Contraseña"
                                    formControlName="contrasena">  </td>
                    </tr>


                    <tr>
                        <td> <input type="password"
                                    id="contraseña-again"
                                    class="contraseña-again"
                                    placeholder="Confirmar contraseña"
                                    formControlName="contrasenaAgain">  </td>
                    </tr>

                    <span *ngIf="contrasenasIncoherentes">Las contraseñas no coinciden</span>
                    <tr>
                        <td> <input type="text"
                                    id="name_real"
                                    class="name_real"
                                    placeholder="Nombre"
                                    formControlName="nameReal">  </td>
                    </tr>

                    <tr>
                        <td> <input type="text"
                                    id="apellido"
                                    class="apellido"
                                    placeholder="Apellido"
                                    formControlName="apellido">  </td>
                    </tr>

                    <tr>
                        <td> <input type="text"
                                    id="direccion"
                                    class="direccion"
                                    placeholder="Dirección"
                                    formControlName="direccion">  </td>
                    </tr>


                    <tr>
                        <td></td>
                    </tr>

                    <tr>
                        <td> <button type="submit" class="singup btn btn-dark btn-lg">Enviar </button></td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/home/login">Ir a iniciar sesión</a>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                    </tr>

                    <tr>
                      <td></td>
                    </tr>

                </tbody>
            </table>
            </div>
    </form>
    <div id="Imagenes">
        <img src="assets/login-img/pokemon-header.png" alt="pokemon-header" class="img-decoracion-2" style="float:left; width:450px; height:350px;">
    </div>

</div>




