/* Estilos de el contenedor mas grande del footer, aqui estamos asignando una forma en columna para los 2 contenedores grandes */
<<<<<<< HEAD
footer{
    margin-top: 150px;
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
}

img{
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

p{
  font-family: 'Rubik', sans-serif;
}

img:hover {
    -webkit-transform:scale(1.2);
    transform:  scale(1.2);
    transition-duration: .5s;
    cursor: pointer;
}

/* Contenedor grande 1 del footer, el que contiene 3 cuadros de colores, que iran en forma de row */

.contenedor-principal-1{
    width: 100%;
    height: 625px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Pequeños contenedores del contenedor grande 1, son los 3 bloques, el rojo el blanco y el azul */

.contenedor-1-1{
    background-color: #8DE6CD;
    width: 42%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 200px;
}

.contenedor-1-2{
    background-color: white;
    width: 21%;

    display: flex;
    flex-direction: column;
    padding: 70px;
}

.contenedor-1-3{
    background-color: #ffaecd;
    width: 37%;
    height: 460px;

    padding: 100px;
}



/* Items dentro de los contenedores */

.contenedor-1-1-title{
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 55px;
}

.contenedor-1-1-body{
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 15px;
    line-height: 30px;
}



.contenedor-1-2-title{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: black;
}

.contenedor-1-2-body{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    line-height: 35px;
}


.contenedor-1-3-title{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

.contenedor-1-3-body{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 25px;
=======
footer {

  margin-top: 50px;
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

span {
  font-size: 25px;
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
  font-family: 'Rubik', sans-serif;
}


.list-item {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  color: black;
  width: 100%;
  justify-content: space-between;
  gap: 8rem;
}

.integrantes {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: #8de6cd;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}


.img-github {
  width: 20px
}

.imagen-pokemon {
  width: 150px
}

.opciones {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #055c43;
  align-items: center;
  justify-content: center;
}

.list-options {
  list-style: none;

  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
>>>>>>> pruebas-diseno
}

a{
  color: white !important;
  text-decoration: none                  !important;
  font-family: 'Rubik', sans-serif       !important;
  font-weight    : 400                   !important;
  font-size      : 18px                  !important;
  padding        : 10px 5px              !important;
}

.opcion-item {
  color: white;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

.nav-link{
  position    : relative;
}


.nav-link::after{
  content           : ''              ;
  opacity           : 0               ;
  transition        : all 0.2s        ;
  height            : 2px             ;
  width             : 100%            ;
  background-color  : white;
  position          : absolute        ;
  bottom            : 0               ;
  left              : 0               ;
}


.nav-link:hover::after{
  opacity           : 1;
}




.nav-item{
  margin-right: 25px;
}

@media all and (min-width: 1050px) {
  .list-options {
    flex-direction: row;
  }
}
<<<<<<< HEAD

.contenedor-2-1{
    font-size: 30px;
    font-weight: 700;
}

.contenedor-2-2{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-size: 15px;
}

/* Medias querys */

@media all and (max-width: 1670px){

    .contenedor-1-1{
        display: flex;
        flex-direction: column;
        padding: 100px;
    }

    .contenedor-1-2{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }



    .contenedor-1-3{
        padding: 40px;
    }
}



@media all and (max-width: 920px){

    .contenedor-principal-1{
       flex-direction: column;
       height: 1200px;
    }


    .contenedor-1-1{
        width: 100%;
        height: 500px;
        padding: 100px;
    }

    .contenedor-1-2{
        width: 100%;
        height: 400px;
        padding: 50px;

        flex-direction: column;

    }


    .contenedor-1-2-body{
        margin-left: 150px;
    }



    .contenedor-1-3{
        background-color: #ffaecd;
        width: 100%;
        height: 200px;
        padding: 50px;
    }

    .contenedor-principal-2{
        flex-direction: column;
        justify-content: space-around;
        margin-top: 30px;
    }

    .contenedor-2-2{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}




@media all and (max-width: 500px){

    .contenedor-principal-1{
       flex-direction: column;
       height: 1200px;
    }


    .contenedor-1-1{
        width: 100%;
        height: 800px;
        padding: 0px;
    }

    .contenedor-1-2{
        width: 100%;
        height: 400px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .contenedor-1-2-body{
        margin: 0;
        width: 100%;
    }




    .contenedor-1-3{
        background-color: #ffaecd;
        width: 100%;
        height: 500px;
        padding: 0px;
    }

    .contenedor-principal-2{
        flex-direction: column;
        justify-content: space-around;
        margin-top: 30px;
    }

    .contenedor-2-2{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .contenedor-1-1-title{
        font-size: 20px;
    }
}
=======
>>>>>>> pruebas-diseno
