


<div class="container">
  <div class="cabecera">
    <img    src="/assets/login-img/volver.png" 
                    height="10" 
                    width="10"
                    routerLink="/admin/principal"
                    class="flecha_volver">
  </div>

    <h2 class="tittle">Cantidad de productos</h2>

    <div class="stock_contain">

        <table style="width: 100%;">
            <tr>
                <th>Cantidad</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Colección</th>
                <th>Id</th>
                <th>Material</th>
            </tr>
            <tr *ngFor="let item of arregloFiguras; let i = index" >
                <td [ngStyle]="{ 'color': colorFigurasAgotadas( i ) }">{{ item. stock }}</td>
                <td [ngStyle]="{ 'color': colorFigurasAgotadas( i ) }">{{ item.name }}</td>
                <td [ngStyle]="{ 'color': colorFigurasAgotadas( i ) }">{{ item.price }}</td>
                <td><img [src]="item.funkoImage"></td>
                <td>{{ item.coleccion }}</td>
                <td>{{ item._id }}</td>
                <td>{{ item.material }}</td>
            </tr>
        </table>

        <!-- <div class="banda_2">.</div> -->
    </div>

</div>
