<img
  *ngIf="mostrar_chulo"
  class="chulo-style"
  src="assets/verificaciones/chulo.png"
/>

<div class="container text-center" *ngIf="hay_data">
  <div class="imagen-container">
    <img
      src="/assets/login-img/volver.png"
      class="volver-img"
      [routerLink]="path_anterior"
    />

    <p class="nombre">{{ funko_mostrar.name }}</p>
    <img [src]="funko_mostrar.funkoImage" />
    <div class="nombre-container text-center">
      <div class="contenedor-nombre-boton text-center">
        <span *ngIf="yaExisteEnLocal">Este elemento ya está en el carrito</span>
        <button
          class="btn btn-dark btn-lg"
          (click)="anadirAlCarrito(funko_mostrar)"
        >
          Añadir al carrito
        </button>
      </div>

      <p class="precio" *ngIf="!conocerPromocion()">
        Precio ${{ funko_mostrar.nCa }}
      </p>
      <p class="precio" *ngIf="conocerPromocion()">
        Antes ${{ funko_mostrar.price }} Ahora ${{ funko_mostrar.nCa }}
      </p>
    </div>
  </div>

  <div class="info-container text-center">
    <div class="espacio"></div>

    <form [formGroup]="miFormulario">
      <div class="registro">
        <table>

          <tbody>
            <tr>
              <td><h2 style="font-weight: 600; font-family: 'Rubik', sans-serif;">Información</h2></td>
            </tr>

            <tr>
              <td>
                <div class="preinformacion">
                  <div class="informacion-cell">
                    Material: {{ funko_mostrar.material }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="preinformacion">
                  <div class="informacion-cell">
                    Disponibles: {{ funko_mostrar.stock }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="preinformacion">
                  <div class="informacion-cell">
                    Colección: {{ funko_mostrar.coleccion }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="preinformacion">
                  <div class="informacion-cell">
                    Descripción: {{ funko_mostrar.des }}. Este producto cuenta con un descuento del {{ porcentajeDescuento }}%
                  </div>
                </div>
              </td>
            </tr>

            <div class="preinformacion">
              <div class="informacion-cell" *ngIf="calificacion == 0">
                Este producto aún no ha sido calificado
              </div>
            </div>

            <div class="preinformacion">
              <div class="informacion-cell" *ngIf="calificacion != 0">
                Calificación: {{ calificacion }}
              </div>
            </div>

            <tr>
              <td>
                <p>Añadir calificacion:</p>

                <select
                  name="calification"
                  id="calification-box"
                  formControlName="opcionSeleccionada"
                >
                  <option value="1" class="option" [ngValue]="1">⭐</option>
                  <option value="2" class="option" [ngValue]="2">⭐⭐</option>
                  <option value="3" class="option" [ngValue]="3">⭐⭐⭐</option>
                  <option value="4" class="option" [ngValue]="4">⭐⭐⭐⭐</option>
                  <option value="5" class="option" [ngValue]="5">
                    ⭐⭐⭐⭐⭐
                  </option>
                </select>

                <p *ngIf="isNullCalificacion">
                  Por favor seleccione una calificación antes de enviar
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <button
                  class="btn btn-dark btn-lg"
                  (click)="enviarCalificacion()"
                >
                  Enviar calificación
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>

<div class="text-center" *ngIf="!hay_data">
  <h2 class="tittle">Por favor seleccione un producto</h2>
</div>
