table{
  width: 35vw;
  height: 50vh;
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
  box-shadow: 30px 30px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

th{
  font-family: 'Rubik', sans-serif;
  text-align:justify;
  padding: 8px;
}

td{
  width: 80%;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  align-items: center;
  padding: 8px;
}

tr{
  width: 80%;
}

#registro {
  width: 100%;
}

.preinformacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle {
  color: white;
  font-weight: 600;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.container{
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

.imagen-container{
  width: 60%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nombre-container{
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  margin-top: 30px;
}

.funko-advice{
  font-weight: 400;
  font-size: 20px;
}

.nombre{
  font-size: 35px;
  font-weight: 600;
  color: white;
  font-weight: 600;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.precio{
  font-weight: 300;
  font-weight: 30px;
  margin-right: 20%;
  margin-left: 10%;
}

.info-container{
  width: 40%;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.espacio{
  height: 18%;
  width: 100%;
}

.chulo-style{
  position: absolute;
  width: 20%;
  top: 50%;
  left: 40%;
}


.informacion{
  height: 60%;
  padding-left: 10%;
}

.informacion-info{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.informacion-cell{
  width: 80%;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.contenedor-nombre-boton{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

img{
  width: 300px;
}


.volver-img{
  width: 50px;
  height: 50px;
  position: relative;
  right: 40%;
  top: 30px;
  cursor: pointer;
}

.volver-img:hover {
  -webkit-transform:scale(1.2);
  transform:  scale(1.2);
  transition-duration: .5s;
}

#calification-box{
  width: 50%;
  height: 35px;
  border: none;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid;
}

.btn {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 20px;
  font-size: inherit;
}

.contenedor-calificacion{
  display: flex;
  flex-direction: column;
}


@media all and (min-width: 0px) and ( max-width: 800px ) {

  .container{
    flex-direction: column;
  }


  .imagen-container{
    width: 100%;
  }

  .info-container{
    height: 100%;
  }
}
