
.div_buscar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.buscar_input{
    font-family: 'Rubik', sans-serif;
    margin-left: 100px;
    margin-right: 20px;
    width: 40%;
    height: 50px;
    border: 1px solid slateblue;
    border-radius: 10px;
    padding: 10px;
}


.buscar_input:hover{
    background-color: aliceblue;
}

.advertencia{
    text-align: center;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.btn {
  font-family: 'Rubik', sans-serif;
}
