

.contenedor-slider{
    width: 100%;
    height: 150px;
    background-image: url("src/assets/headerbg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}


@media all and ( min-width: 370px ){


    .contenedor-slider{
        height: 200px;
    }
}


@media all and ( min-width: 500px ){


    .contenedor-slider{
        height: 250px;
    }
}

@media all and ( min-width: 620px ){


    .contenedor-slider{
        height: 310px;
    }
}

@media all and ( min-width: 770px ){

    .contenedor-slider{
        height: 360px;
    }
}

@media all and ( min-width: 900px ){

    .contenedor-slider{
        height: 450px;
    }
}

@media all and ( min-width: 1000px ){

    .contenedor-slider{
        height: 450px;
    }
}

@media all and ( min-width: 1120px ){

    .contenedor-slider{
        height: 550px;
    }
}

@media all and ( min-width: 1200px ){
    .contenedor-slider{
        min-height: 660px;
    }
}