
<div class="container">

    <div class="botones-container">
        <button class="btn btn-dark btn-lg" routerLink="/admin/agregar">Agregar productos</button>
        <button class="btn btn-dark btn-lg" routerLink="/admin/editar">Editar productos</button>
        <button class="btn btn-dark btn-lg" routerLink="/admin/esconder">Reservar productos y ocultos</button>
        <button class="btn btn-dark btn-lg" routerLink="/admin/stock">Cantidad de productos</button>
        <button class="btn btn-dark btn-lg" routerLink="/admin/registro">Registro de compras</button>
        <button class="btn btn-danger btn-lg" (click)="logout()">Cerrar sesión</button>
    </div>

    <img    src="/assets/login-img/naruto-header.png"
    alt="NarutoHeather"
    class="naruto-img"
    >
</div>



