<div class="coleccion-container text-center">
    <br>

    <h1 style="color: white; font-family: 'Rubik', sans-serif; font-weight: 600;" class="tittle">Colecciones </h1>
    <hr class="linea_inicial" >

    <div class = "contenedor">
            <div class = "tarjeta1"  routerLink="/collections/tierra">

                <a routerLink="/collections/tierra" > <img src = "/assets/tarjetas-colecciones/pngwing2.com.png"></a>
            </div>

            <div class = "tarjeta2"  routerLink="/collections/agua">

                <a routerLink="/collections/agua" > <img src = "/assets/tarjetas-colecciones/pngwing1.com.png"></a>
            </div>

            <div class = "tarjeta3" routerLink="/collections/aire">

                <a routerLink="/collections/aire"> <img src = "/assets/tarjetas-colecciones/pngwing.com.png"></a>
            </div>

        </div>
        <hr class="linea_final">
</div>






