
<div class="container text-center">
    <img    class="flecha" src="/assets/login-img/volver.png"
                    height="20"
                    width="20"
                    routerLink="/home/main-collections">

    <br><br>
    <img src = "/assets/tarjetas-colecciones/pngwing2.com.png" class="animal">
    <h1 style="font-weight: 600;" class="tittle">Colección de Tierra</h1>
    <h5 style="color: white;">Recomendada para adultos</h5>

    <hr>
</div>


<div class="contenedor">
    <div    class="tarjeta" *ngFor="let item of funkos_tierra, let i = index"  style="background-image: url('assets/fondos-tarjetas/tarjeta-tierra.png');">

        <a (click) = consola(i)>
            <p class="tarjeta_name">{{ item.name }}</p>
            <img [src]= "item.funkoImage">

            <p class="tarjeta_price">${{ item.nCa }}</p>
            <p class="info"> Cop/ Cu</p>
            <p class="info" *ngIf="conocerSiHayDescuento(i)">PROMOCION!!</p>
            <p class="tarjeta_stock">DISPONIBLES {{ item.stock }}</p>
        </a>

    </div>
</div>
